body
{
font-family:"Tahoma";
background-color:black;
}
h1
{
color:yellow;

font-size:120px;
}
p{
background-color:Yellow;
color:black;

font-size:12px;
}
.quotes
{
background-color:yellow;
width:37%;
margin-right:auto;
margin-left:auto;
border-color:FFFFFF;
border-style:solid;
border-radius:10px;
padding:25px;
height:auto;
}
.quote
{
font-size:15px;
}
.author
{
font-size:10px;
}
.btn
{
color:yellow;
background color:black;
}
